.encabezado {
    background-image: linear-gradient(to bottom, rgb(59, 21, 94), rgb(241, 90, 156));
    height: 350px;
    position: relative;
}
.logo {
    font-size: 35px;
    color: black;
    font-family: sans-serif;
    margin-bottom: 30px;
    text-align: center;
    
}
.encabezado #subtitulo{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 60px;
    text-shadow: 5px 5px rgb(232, 108, 161);
}
.logo img {
    max-width: 2500px;
    display: inline;
    margin-top: 10px;
}
.encabezado_nav {
    position: absolute;
    bottom: 20px;
    right: 20px;
}
.encabezado_nav a {
    color: white;
    font-size: 20px;
    margin: 10px;
    text-decoration: none;
    background-color: rgb(232, 108, 161);
    border-radius: 40px;
    padding: 5px 10px;
}
.contacto {
    text-align: center;
}

.contacto img  {
    height:auto;
    width: 30px;
}
.contacto a {
    font-size: 20px;
    text-decoration: none;
    color: white;
}

#tabla {
  margin: 0 auto; 
  width: 80%; 
  margin-bottom: 80px;
}

#tabla th {
  background-color: #ed04ca;
  color: #333;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  padding: 12px 8px;
  border: 1px solid #ddd;
}

#tabla td {
background-color: #eeabe4;
  text-align: center;
  padding: 10px 8px;
  border: 1px solid #ddd; 
}
@keyframes deslizar {
from {
transform: translateX(60px);
}
to {
transform: translateX(-100%);
}
}
#logof {
    animation: deslizar 15s linear infinite;
    animation-delay: 0s;
    color: black;
    -webkit-text-stroke: 2px #ed04ca;
    font-family: fantasy;
    font-size: 6rem;
    position: relative;
    margin-top: 30px;
    white-space: nowrap;
}


#inicio{
    position: relative;
    margin-bottom: 90px;
}
#inicio p {
    text-align: center;
    font-size: 30px;
    margin: 20px 10%;
    color: #ddd;

}

.hero img{
    width: 70%;
    height: 600px;
    object-fit: cover;
    display: block;
    margin: auto;
    margin-bottom: 40px;
    margin-top: 50px;

}


#fondito{
    background-image: url(fondo1.jpg);
    background-size:cover;
}

h1{
    color:#b15cf7;
    text-align: center;
    text-shadow: 3px 1px #000000;
}

#igm{
    border-style: solid;
    border-color: #b15cf7;

}
h3 {
    font-size: 30px;
    text-align: center;
}